<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://joelfah.onrender.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Joël Fah Portfolio">
<meta property="og:description" content=" Meet Joël Fah: UI/UX designer, community enthusiast, and tech-loving computer science student. Creating screen magic, contributing to open source, and inspiring growth at meetups. Using skills for a brighter future, one community at a time. ✨">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/documents/557c4e49-7c9c-4f60-be11-ddf44efcfc26.png?token=xOxljcYAmL566pi4yd4ZVLbdgEwl-gTHLsNAJJOd5_4&height=630&width=1200&expires=33241057095">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="joelfah.onrender.com">
<meta property="twitter:url" content="https://joelfah.onrender.com/">
<meta name="twitter:title" content="Joël Fah Portfolio">
<meta name="twitter:description" content=" Meet Joël Fah: UI/UX designer, community enthusiast, and tech-loving computer science student. Creating screen magic, contributing to open source, and inspiring growth at meetups. Using skills for a brighter future, one community at a time. ✨">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/documents/557c4e49-7c9c-4f60-be11-ddf44efcfc26.png?token=xOxljcYAmL566pi4yd4ZVLbdgEwl-gTHLsNAJJOd5_4&height=630&width=1200&expires=33241057095">
