{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-darkBlue">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Joël Fah Portfolio">
    <meta name="description"
        content=" Meet Joël Fah: UI/UX designer, community enthusiast, and tech-loving computer science student. Creating screen magic, contributing to open source, and inspiring growth at meetups. Using skills for a brighter future, one community at a time. ✨">
    <meta name="keywords"
        content="portfolio, folio, website, personal, dejon, fah, joel, joël, xavier, personal, site, web, designer, ui, ux, personnel, figma, projects, projets, Dejon, Fah, Joel, Xavier, Joel Fah, interfaces, user-friendly, flutter, apps, develop, design, community, open-source, computer, science">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Dejon Fah Joel Xavier">

    <!-- og meta tags -->
    {% block meta_tags %}
      
    {% endblock meta_tags %}
    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <title>Joël Fah's Portfolio - {% block title %}{% endblock title %} </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <!-- Font ~ Urbanist @Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Icons ~ Iconoir -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />

    <!-- Styles ~ AOS, Tailwind CSS-->
    <!-- AOS -->
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" media="(min-width: 550px)"> -->

    {% block styles %}{% endblock styles %}
    {% tailwind_css %}
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <!-- Preoad JS ~ Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</head>

<body class="bg-darkBlue text-yellowWhite font-['urbanist'] text-lg {% block body_styles %}{% endblock body_styles %}">
    <!-- Header Section -->
    {% block header %}
      
    {% endblock header %}

    <!-- Section Body -->
    <main>
        {% block body %}

        {% endblock body %}
    </main>

    <!-- Footer Section -->
    <footer id="footer" class="section h-dvh max-w-screen-xl mx-auto py-3 max-md:px-4 max-lg:px-8 max-xl:px-12 flex flex-col items-center justify-evenly" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-anchor-placement="top-center"  data-aos-delay="100">
        <div class="flex flex-col gap-10 items-center justify-center pt-20 pb-12">
            <a href="mailto:joelfah2003@gmail.com"
                class="flex flex-row-reverse py-5 px-7 items-center justify-center gap-2 font-medium rounded-full text-greenSuccess bg-greenSuccess/10 ease-in-out duration-300 hover:gap-4">
                Available for work
                <i class="iconoir-bookmark-circle text-2xl"></i>
            </a>

            <p class="text-3xl leading-relaxed md:leading-normal lg:leading-[5.5rem] md:text-5xl lg:text-7xl text-center m-0">
                You grab your <span class="font-medium text-primaryColor">ideas</span><br>
                I grab my <span class="font-medium text-primaryColor">canvas</span> & pixels <br>
                And let's build something <span class="font-medium text-primaryColor">great</span> together
            </p>

            <a href="mailto:joelfah2003@gmail.com"
                class="flex flex-row-reverse py-5 px-7 items-center justify-center gap-2 font-medium rounded-full bg-primaryColor/10 ease-in-out duration-300 hover:gap-4">
                joelfah2003@gmail.com
                <i class="iconoir-send-mail text-2xl"></i>
            </a>
        </div>

        <div class="w-full">
            <hr class="w-full border-yellowWhite/50">
            <div class="flex flex-col md:flex-row items-center justify-center md:justify-between py-4">
                <small class="font-extralight">
                    ©2023 - designed and dev-ed by joelfah
                </small>
                <small class="flex gap-5 text-primaryColor">
                    <a href="https://x.com/FahDejon" class="ease-in-out duration-300 hover:text-hoverColor">x.com</a>
                    <a href="https://linkedin.com/in/joelfah"
                        class="ease-in-out duration-300 hover:text-hoverColor">linkedin</a>
                    <a href="https://figma.com/@joelfah" class="ease-in-out duration-300 hover:text-hoverColor">figma</a>
                    <a href="https://behance.net/joelfah" class="ease-in-out duration-300 hover:text-hoverColor">behance</a>
                </small>
            </div>
        </div>
    </footer>

    <!-- AOS JS -->
    <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->

    <!-- Flowbite JS script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    <!-- Main JS -->
    {% block javascript %}
      
    {% endblock javascript %}

    <script src="{% static 'js/page_transition.js' %}"></script>
    
    <!-- AOS initialisation -->
    <!-- <script>
        AOS.init();
    </script> -->

</body>

</html>