<div class="flex flex-col items-center justify-center text-center gap-5 text-yellowWhite/50 py-5">
    <div class="flex items-center justify-center gap-5">
        <div class="bg-yellowWhite/10 text-xl p-2 rounded-lg flex ring-1"><i class="iconoir-media-image-xmark"></i></div>
        <div class="bg-yellowWhite/10 text-xl p-2 rounded-lg flex ring-1"><i class="iconoir-link-xmark"></i></div>
        <div class="bg-yellowWhite/10 text-xl p-2 rounded-lg flex ring-1"><i class="iconoir-grid-xmark"></i></div>
        <div class="bg-yellowWhite/10 text-xl p-2 rounded-lg flex ring-1"><i class="iconoir-multiple-pages-xmark"></i></div>
        <div class="bg-yellowWhite/10 text-xl p-2 rounded-lg flex ring-1"><i class="iconoir-chat-bubble-xmark"></i></div>
    </div>

    <small class="leading-tight">
        Sorry for leaving you hanging. I'm still drafting some stuffs. <br>
        Come check again in the meantime.
    </small>
</div>