{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}

<!-- Meta tags -->
{% block meta_tags %}
{% include "components/meta.html" %}
{% endblock meta_tags %}

<!-- Title of the page -->
{% block title %}
Home
{% endblock title %}

<!-- Additional Styles -->
{% block styles %}
<!-- Tailwind Elements CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
{% endblock styles %}

<!-- Header -->
{% block header %}
{% include "components/header_scrollspy.html" %}
{% endblock header %}

<!-- Body of the page -->
{% block body %}
<div class="max-w-[95%] lg:max-w-[80%] mx-auto grid-cols-12">
  <!-- Hero Section -->
  <section id="hero" class="section col-span-12 pb-5 lg:py-12 lg:pt-[80px] max-sm:pt-12">
    <div class="flex flex-col lg:flex-row items-center justify-between gap-5 ld:gap-[100px]">
      <div class="flex flex-col items-center text-center lg:items-start lg:text-left gap-7">
        <div class="flex items-start gap-5">
          <a href="https://x.com/FahDejon"
            class="text-primaryColor hover:text-hoverColor transition-all duration-300 ease-in-out font-medium">x.com</a>
          <a href="https://linkedin.com/in/joelfah"
            class="text-primaryColor hover:text-hoverColor transition-all duration-300 ease-in-out font-medium">linkedin</a>
          <a href="https://figma.com/@joelfah"
            class="text-primaryColor hover:text-hoverColor transition-all duration-300 ease-in-out font-medium">figma</a>
          <a href="https://behance.net/joelfah"
            class="text-primaryColor hover:text-hoverColor transition-all duration-300 ease-in-out font-medium">behance</a>
        </div>

        <h1 class="font-medium m-0 p-0 text-3xl lg:text-[50px] md:leading-[65px]">
          I build up pixels square-wise, and think strategies paper-most &mdash; I do ui/ux design.
        </h1>

        <div class="flex flex-col items-center lg:items-start">
          <small>So, that's me</small>
          <span class="text-4xl m-0 font-semibold text-primaryColor my-2.5 lg:text-[60px] lg:leading-[50px]">Dejon Fah
            Joël Xavier</span>
          <span
            class="text-3xl max-sm:-m-3 font-extralight text-primaryColor my-2.5 lg:text-[60px] lg:leading-[50px]">aka
            Joel Fah</span>
        </div>

        <div class="flex flex-col md:flex-row items-center gap-5">
          <a href="#works"
            class="flex flex-row-reverse py-5 px-7 items-center justify-center gap-2 font-medium rounded-full bg-primaryColor/10 ease-in-out duration-300 hover:gap-4">
            Here for the projects
            <i class="iconoir-long-arrow-right-down text-2xl"></i>
          </a>

          <a href="mailto:joelfah2003@gmail.com"
            class="flex flex-row-reverse py-5 px-7 items-center justify-center gap-2 font-medium rounded-full text-greenSuccess bg-greenSuccess/10 ease-in-out duration-300 hover:gap-4">
            Available for work
            <i class="iconoir-bookmark-circle text-2xl"></i>
          </a>
        </div>
      </div>

      <div class="w-[95%] lg:w-4/5 lg:float-end">
        <img class="w-4/5 mx-auto" src="{% static 'images/hero_img.png' %}"
          alt="Focus on Joel Fah at Google Developer Annual Summit 2023, Kigali, Rwanda">
      </div>
    </div>
  </section>

  <!-- Works Section -->

  <section id="works" class="section col-span-12 py-5 md:py-12">
    <div class="flex items-center gap-5 justify-between my-7">
      <h2 class="font-bold m-0 p-0 whitespace-nowrap text-2xl lg:text-4xl">View works</h2>
      <hr class="w-full border-yellowWhite/50">
      <a href=""
              class="page-link ring mx-1 px-2 py-0.5 rounded-md text-yellowWhite hover:bg-hoverColor transition-all duration-300 ease-in-out whitespace-nowrap">See them all</a>
    </div>

    <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
    <div id="carouselExampleCrossfade" class="relative" data-te-carousel-init data-te-ride="carousel">
      <!--Carousel indicators-->
      <div class="absolute inset-x-0 bottom-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
        data-te-carousel-indicators>
        {% if projects.count > 1%}
        {% for project in projects %}
        {% if project.is_visible %}
        <button type="button" data-te-target="#carouselExampleCrossfade" data-te-slide-to="{{ forloop.counter0 }}"
          data-te-carousel-active
          class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
          aria-current="true" aria-label="Slide {{ forloop.counter }}">
        </button>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>

      <!--Carousel items-->
      <div class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
        {% for project in projects %}
        {% if project.is_visible %}
        <div
          class="relative float-left -mr-[100%] w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none"
          data-te-carousel-fade data-te-carousel-item data-te-carousel-active>
          
          <img src="{{ project.thumbnail.url }}" class="block w-full max-h-[35rem] object-cover"
            alt="{{ project.name }}" />

          <div
            class="absolute items-end top-0 bottom-0 right-0 left-0 inset-x-[15%] hidden py-10 pb-14 md:flex md:flex-col md:items-center md:justify-end bg-gradient-to-b from-[rgb(0,0,0,0)] via-[rgb(0,0,0,0.5)] to-[rgb(0,0,0,1)] from-50%">
            <h3 class="font-medium m-0 p-0 text-lg lg:text-2xl my-2">{{ project.name }}</h3>
            <a href="{% url 'core:details' project.id project.slug %}"
              class="page-link group hover:gap-5 inline-flex items-center gap-2 px-4 py-2 text-sm font-medium rounded-lg bg-hoverColor hover:bg-blue-800 focus:ring-gray-700 transition-all duration-300 ease-in-out">
              View project
              <i
                class="iconoir-arrow-up-right text-2xl group-hover:rotate-45 transition-all duration-300 ease-in-out"></i>
            </a>
          </div>
        </div>
        {% endif %}
        {% endfor %}

        <!--Carousel controls - prev item-->
        {% if projects.count > 1 %}
        <button
          class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
          type="button" data-te-target="#carouselExampleCrossfade" data-te-slide="prev">
          <span class="inline-block h-8 w-8">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
          </span>
          <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
        </button>
        <!--Carousel controls - next item-->
        <button
          class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
          type="button" data-te-target="#carouselExampleCrossfade" data-te-slide="next">
          <span class="inline-block h-8 w-8">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          </span>
          <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
        </button>
        {% endif %}
      </div>
  </section>
  <!-- <section id="works" class="section col-span-12 py-5 md:py-12">
    <div class="flex items-center gap-5 justify-between my-7">
      <h2 class="font-bold m-0 p-0 whitespace-nowrap text-2xl lg:text-4xl">View works</h2>
      <hr class="w-full border-yellowWhite/50">
    </div>

    <div
      class="flex flex-col lg:flex-row items-center lg:items-start content-center lg:content-start justify-between flex-wrap ">
      {% for project in projects %}
      {% if project.is_visible %}
      <a href="{% url 'core:details' project.id project.slug %}"
        class="page-link group basis-full lg:basis-1/2 max-md:shrink-0 w-full flex flex-col items-start p-0 md:p-2.5">
        <div class="w-full relative">
          <img
            class="w-full min-h-[300px] max-h-[350px] lg:max-h-[450px] object-cover transition-all duration-300 ease-in-out outline-2 outline-transparent group-hover:rounded-[50px] group-hover:scale-[1.02] group-hover:outline-2 group-hover:outline-primaryColor group-hover:shadow-[0_0_30px_rgb(206,183,250,0.2)]"
            src="{{ project.thumbnail.url }}" alt="{{ project.name }}">

          <div
            class="absolute top-0 bottom-0 right-0 left-0 flex items-start justify-end p-5 overflow-hidden transition-all duration-300 ease-in-out group-hover:rounded-[50px] group-hover:scale-[1.02] group-hover:bg-[rgb(12,4,38,0.5)]">
            <span
              class="absolute -top-[20%] bg-hoverColor py-2.5 px-5 rounded-full transition-all duration-300 ease-in-out group-hover:top-5">
              View project
            </span>
          </div>
        </div>

        <div class="flex py-6 items-center justify-between w-full">
          <div class="info flex flex-col gap-4 w-full">

            <div class="flex items-start gap-2.5">
              {% for tag in tags %}
                {% if project.name == tag.project.name %}
                <small
                class="line-clamp-1 md:line-clamp-none text-sm text-primaryColor py-[3px] px-4 rounded-lg bg-primaryColor/10">
                {{ tag.name }}
                </small>
                {% endif %}
              {% endfor %}
            </div>

            <h3 class="font-medium m-0 p-0 text-lg lg:text-2xl">{{ project.name }}</h3>
          </div>

          <i
            class="iconoir-arrow-up-right text-3xl transition-all duration-300 ease-in-out group-hover:text-primaryColor group-hover:scale-[1.3] group-hover:rotate-45"></i>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </section> -->

  <!-- About Section -->
  <section id="about" class="section col-span-12 py-5 md:py-12">
    <div class="flex flex-col-reverse gap-5 lg:flex-row items-center justify-between ld:gap-[100px]">
      <div class="w-[95%] mx-auto max-md:w-[85%] max-md:text-center">
        <img class="w-4/5 lg:w-3/5 mx-auto lg:float-start" src="{% static 'images/about_img.png' %}"
          alt="Joel Fah at Google Developer Summit 2023 Kigali, Rwanda">
      </div>


      <div class="flex flex-col items-start gap-5 w-full">
        <div class="flex items-center gap-5 justify-between my-2.5 lg:my-7 mx-0 w-full">
          <h2 class="font-bold m-0 p-0 whitespace-nowrap text-2xl lg:text-4xl">Talking of me</h2>
          <hr class="w-full border-yellowWhite/50">
        </div>

        <div class="flex flex-col gap-5">
          <p class="text-xl lg:text-2xl font-medium leading-7 lg:leading-9">
            Hey there! I'm <span
              class="bg-yellowWhite/10 mx-1 px-2 py-0.5 rounded-md text-primaryColor">@joelfah</span>, a creative mind
            with a knack for turning pixels into magic. By day, I'm your strategic designer weaving tales through
            visuals, and by night, I'm a pixel
            magician concocting artful wonders.
          </p>

          <p class="text-lg lgtext-xl leading-6 lg:leading-8">
            My adventure started within community clubs volunteership. I mainly had to
            ensure a good visual <span
              class="bg-yellowWhite/10 mx-1 px-2 py-0.5 rounded-md text-primaryColor">communication</span>. From there,
            I became very enthusiastic about <span
              class="bg-yellowWhite/10 mx-1 px-2 py-0.5 rounded-md text-primaryColor">communities</span>
            and <span class="bg-yellowWhite/10 mx-1 px-2 py-0.5 rounded-md text-primaryColor">ui design</span>, wanted
            more and now growing this satisfaction into a career that blends my
            lovely taste for tech and art.
          </p>

          <p class="text-sm lg:text-lg font-thin leading-5 lg:leading-7">
            With a dash of wit, a sprinkle of creativity, and a dollop of professionalism, I bring
            design dreams to life. Let's create something extraordinary together!
          </p>
        </div>

        <div class="">
          <a href="{% url 'core:about' %}"
            class="page-link flex flex-row py-5 px-7 items-center justify-center gap-2 font-medium rounded-full bg-primaryColor/10 ease-in-out duration-300 hover:gap-4">
            Feels interesting, read more.
            <i class="iconoir-dot-arrow-right text-2xl"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock body %}

<!-- Javascript -->
{% block javascript %}
<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
<script src="{% static 'js/main.js' %}" async></script>
{% endblock javascript %}