{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}

{% block title %}
Home
{% endblock title %}

<!-- Body of the page -->
{% block body %}
<div class="max-w-[95%] lg:max-w-[80%] h-[100vh] mx-auto grid-cols-12">
  <!-- Hero Section -->
  <section id="hero" class="col-span-12 pb-5 lg:py-12 lg:pt-[80px] max-sm:pt-12">
    <div class="flex flex-col lg:flex-row items-center justify-between gap-5 ld:gap-[100px]">
      <div class="flex flex-col items-center text-center lg:items-start lg:text-left gap-7">
        <div class="flex items-start gap-5">
          <a href="https://x.com/FahDejon" class="text-primaryColor hover:text-hoverColor transition-all duration-300 ease-in-out font-medium">x.com</a>
          <a href="https://linkedin.com/in/joelfah" class="text-primaryColor hover:text-hoverColor transition-all duration-300 ease-in-out font-medium">linkedin</a>
          <a href="https://figma.com/@joelfah" class="text-primaryColor hover:text-hoverColor transition-all duration-300 ease-in-out font-medium">figma</a>
          <a href="https://behance.net/joelfah" class="text-primaryColor hover:text-hoverColor transition-all duration-300 ease-in-out font-medium">behance</a>
        </div>

        <h1 class="font-medium m-0 p-0 text-3xl lg:text-[50px] md:leading-[65px]">
          I build up pixels square-wise, and think strategies paper-most &mdash; I do ui/ux design.
        </h1>

        <div class="flex flex-col items-center lg:items-start">
          <small>So, that's me</small>
          <span class="text-4xl m-0 font-semibold text-primaryColor my-2.5 lg:text-[60px] lg:leading-[50px]">Dejon Fah Joël Xavier</span>
          <span class="text-3xl max-sm:-m-3 font-extralight text-primaryColor my-2.5 lg:text-[60px] lg:leading-[50px]">aka Joel Fah</span>
        </div>

        <div class="flex flex-col md:flex-row items-center gap-5">
          <a href="#works" class="flex flex-row-reverse py-5 px-7 items-center justify-center gap-2 font-medium rounded-full bg-primaryColor/10 ease-in-out duration-300 hover:gap-4">
            Here for the projects
            <i class="iconoir-long-arrow-right-down text-2xl"></i>
          </a>

          <a href="" class="flex flex-row-reverse py-5 px-7 items-center justify-center gap-2 font-medium rounded-full text-greenSuccess bg-greenSuccess/10 ease-in-out duration-300 hover:gap-4">
            Available for work
            <i class="iconoir-bookmark-circle text-2xl"></i>
          </a>
        </div>
      </div>

      <div class="w-[95%] lg:w-4/5 lg:float-end">
        <img class="w-4/5 mx-auto" src="{% static './images/hero_img.png' %}"
          alt="Focus on Joel Fah at Google Developer Annual Summit 2023, Kigali, Rwanda">
      </div>
    </div>
  </section>

  <!-- Works Section -->
  <section id="works" class="col-span-12 py-5 md:py-12">
    <div class=""></div>
  </section>

  <!-- About Section -->
  <section id="about" class="col-span-12 py-5 md:py-12">
    <div class=""></div>
  </section>
</div>
{% endblock body %}