{% extends "base.html" %}
{% load static tailwind_tags %}

<!-- Meta tags -->
{% block meta_tags %}
  {% include "components/meta.html" %}
{% endblock meta_tags %}

<!-- Title of the page -->
{% block title %}
  {{ object.name }}
{% endblock title %}

<!-- Header Section -->
{% block header %}
    {% include "components/header_alt.html" %}
{% endblock header %}

<!-- Body of the page -->
{% block body %}

<div class="lg:h-dvh flex flex-col lg:flex-row gap-4 container max-w-screen-xl mx-auto my-20 max-lg:px-5">
  <!-- Fixed sidebar -->
  <div class="lg:w-1/4 lg:overflow-hidden flex flex-col gap-4">
    <!-- Sidebar content -->
    <h2 class="font-bold m-0 p-0 text-2xl lg:text-4xl"> {{ object.name }} </h2>
    
    <!-- Project Details -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4">
      {% if not object.client == None %}
      <div class="flex justify-between items-center rounded-lg bg-primaryColor/10 p-2 px-4 text-sm">
        <span class="text-yellowWhite/50">Client:</span>
        <span>{{ object.client }}</span>
      </div>
      {% endif %}

      {% if not object.role == None %}
      <div class="flex justify-between items-center rounded-lg bg-primaryColor/10 p-2 px-4 text-sm">
        <span class="text-yellowWhite/50">Role:</span>
        <span>{{ object.role }}</span>
      </div>
      {% endif %}

      {% if not object.link == None %}
      <div class="flex justify-between items-center rounded-lg bg-primaryColor/10 p-2 px-4 text-sm">
        <span class="text-yellowWhite/50">Link:</span>
          <a href="{{ object.link }}" target="_blank" class="hover:text-hoverColor hover:underline transition-all duration-300 ease-in-out whitespace-nowrap">View project</a>
      </div>
      {% endif %}

      <div class="flex justify-between items-center rounded-lg bg-primaryColor/10 p-2 px-4 text-sm capitalize">
        <span class="text-yellowWhite/50">Category:</span>
        <span>{{ object.category }}</span>
      </div>

      <div class="flex justify-between items-center rounded-lg bg-primaryColor/10 p-2 px-4 text-sm">
        <span class="text-yellowWhite/50">Started on:</span>
        <span>{{ object.started_at }}</span>
      </div>

      <div class="flex justify-between items-center rounded-lg bg-primaryColor/10 p-2 px-4 text-sm">
        <span class="text-yellowWhite/50">Ended on:</span>
        <span>{{ object.ended_at }}</span>
      </div>

      <div class="flex justify-between items-center rounded-lg bg-primaryColor/10 p-2 px-4 text-sm">
        <span class="text-yellowWhite/50">Last updated on:</span>
        <span>{{ object.updated_at }}</span>
      </div>

      <div class="flex justify-between items-center rounded-lg bg-primaryColor/10 p-2 px-4 text-sm">
        <span class="text-yellowWhite/50">Duration:</span>
        <span>{{ duration }}</span>
      </div>

      <div class="flex gap-4 items-center max-lg:hidden p-2 px-4 border-2 border-dashed border-hoverColor bg-hoverColor/10 rounded-xl">
        <i class="iconoir-telegram text-4xl"></i>
        <small>
          Found this work interesting, <br>
          <a href="{% url 'core:messages' %}" class="page-link text-blue-500 hover:text-blue-400 transition-all duration-300 ease-in-out"> leave an ecouraging message</a> 
        </small>
      </div>
    </div>
  </div>
  <!-- Scroll wrapper -->
  <div class="flex flex-1 lg:w-3/4 lg:overflow-hidden">
    <!-- Scrollable container -->
    <div class="flex-1 lg:overflow-y-scroll lg:px-3">
      <!-- Your content -->
      {{ object.content|safe }}
    </div>
  </div>
</div>

{% endblock body %}