{% extends "base.html" %}
{% load static tailwind_tags %}

<!-- Meta tags -->
{% block meta_tags %}
  {% include "components/meta.html" %}
{% endblock meta_tags %}

<!-- Title of the page -->
{% block title %}
  {{ object.name }}
{% endblock title %}

<!-- Header Section -->
{% block header %}
    {% include "components/header_alt.html" %}
{% endblock header %}

<!-- Body of the page -->
{% block body %}
  <div class="container max-w-screen-xl mx-auto my-20" data-aos="fade-up" data-aos-delay="300" data-aos-duration="600">
    {{ object.content|safe }}
  </div>
{% endblock body %}