/* Global variables */
:root {
    /* Colors */
    --bg-color: #0C0426;
    --primary-color: #CEB7FA;
    --hover-color: #2d4ef5;
    --primary-color-10: rgb(206, 183, 250, 0.1);
    --light-color: #FAF1D6;
    --white-color: #ffffff;
    --success-color: #13D777;
    --success-color-10: rgb(19, 215, 119, 0.1);

    /* Font */
    --default-font: 'Urbanist', sans-serif;
    --logo-font: 'HakunaSans', sans-serif;

    /* Radius */
    --border-radius: 50px;

    /* Transition */
    --transition: all .3s ease-in-out;
}

/* General */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--default-font);
    background-color: var(--bg-color);
    font-size: 16px;
    line-height: 25px;
    color: var(--light-color);
}

h1,
h2,
h3 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    /* 130% */
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a.social-link {
    color: var(--primary-color);
    transition: var(--transition);
    -moz-transition: var(--transition);
    -webkit-transition: var(--transition);
    font-weight: 500;
}

a.social-link:hover {
    color: var(--hover-color);
}

a.btn {
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    border-radius: 50px;
    background: var(--primary-color-10, rgba(206, 183, 250, 0.10));
    transition: var(--transition);
    -moz-transition: var(--transition);
    -webkit-transition: var(--transition);
}

a.btn-success {
    color: var(--success-color);
    background: var(--success-color-10);
    flex-direction: row-reverse;
}

a.btn-success:hover {
    i {
        color: var(--success-color) !important;
    }
}

a.btn i {
    font-size: x-large;
    transition: var(--transition);
    -moz-transition: var(--transition);
    -webkit-transition: var(--transition);
}

a.btn:hover {
    gap: 15px;

    i {
        color: var(--hover-color);
    }
}

hr {
    width: 100%;
    border-color: rgba(255, 255, 255, 0.50);
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(36, 29, 59, 0.80);
    box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0 30px;
}

.navbar {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.navbar .logo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.navbar .logo img {
    width: 40px;
}

.navbar .logo span {
    font-family: var(--logo-font);
}

.navbar .nav-links {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    span {
        color: rgb(255, 255, 255, .5);
        cursor: not-allowed;
    }
}

.navbar .nav-links a {
    transition: var(--transition);
    -moz-transition: var(--transition);
    -webkit-transition: var(--transition);
}

.navbar .nav-links .nav-link.active {
    color: var(--primary-color);
    font-weight: 500;
}

.navbar .nav-links a:hover {
    color: var(--hover-color);
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 25px !important;
        line-height: normal;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        max-height: 45px;
        overflow: hidden;
    }

    .navbar .nav-links {
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
    }

    .outer-container {
        max-width: unset;
        padding: 0 15px !important;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 35px;
        line-height: normal;
    }

    .navbar {
        gap: unset;
        width: inherit;
        justify-content: space-between;
    }

    .outer-container {
        max-width: unset;
        padding: 0 30px;
    }
}

/* Sections*/
.outer-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 80%;
    /* max-width: 1200px; */
    margin: auto;
}

.hero,
.works,
.about {
    grid-column: 1 / -1;
    padding: 50px 0;
}

@media screen and (max-width: 425px) {

    .hero,
    .works,
    .about {
        width: inherit;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .outer-container {
        max-width: 100%;
    }

    .hero,
    .works,
    .about {
        padding: 20px 0;
    }

    .hero {
        padding-top: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .outer-container {
        max-width: 90%;
    }
}

/* Section ~ Hero */

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.hero .hero-text .name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero .hero-text .name span {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 10px 0;
}

.hero .hero-text .hero-actions,
.about .about-text .hero-actions {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.hero .hero-text .social-links {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.hero .hero-img {
    width: 95%;

    img {
        width: inherit;
        float: right;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        padding-top: 80px;
    }

    .hero .hero-text .name span {
        font-size: 30px;
    }

    .hero .hero-img {
        width: 100% !important;

        img {
            width: inherit;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero .container {
        flex-direction: column;
        gap: 50px;
    }

    .hero .hero-text {
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .hero .hero-text .name {
        align-items: center;
    }

    .hero .hero-text .hero-actions {
        flex-direction: column;
        align-items: center;
    }

    .hero .hero-img {
        width: 85%;
        text-align: center;

        img {
            width: inherit;
            float: initial;
        }
    }
}

/* Section ~ Works */

.works .heading {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin: 30px 0;

    h2 {
        white-space: nowrap;
    }
}

.works .work-list {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works .work-list .work-list__item {
    flex-basis: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.works .work-list .work-list__item .work-thumbnail {
    width: 100%;
    position: relative;

    img {
        width: inherit;
        min-height: 300px;
        max-height: 450px;
        object-fit: cover;
        transition: var(--transition);
        -moz-transition: var(--transition);
        -webkit-transition: var(--transition);
        outline: 2px solid transparent;
    }

    div {
        position: absolute;
        top: 0;
        bottom: 5px;
        right: 0;
        left: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 20px;
        overflow: hidden;
        transition: var(--transition);
        -moz-transition: var(--transition);
        -webkit-transition: var(--transition);

        span {
            position: inherit;
            top: -20%;
            background-color: var(--hover-color);
            padding: 10px 20px;
            border-radius: 50px;
            transition: var(--transition);
            -moz-transition: var(--transition);
            -webkit-transition: var(--transition);
        }
    }
}

.works .work-list .work-list__item:hover {
    img {
        border-radius: 50px;
        scale: 1.02;
        outline: 2px solid var(--primary-color);
        box-shadow: 0 0 30px rgb(206, 183, 250, .2);
    }

    i {
        color: var(--primary-color);
        scale: 1.3;
        rotate: 45deg;
    }

    .work-thumbnail div {
        border-radius: 50px;
        scale: 1.02;
        background-color: rgb(12, 4, 38, .5);

        span {
            top: 20px;
        }
    }
}

.works .work-list .work-list__item .work-info {
    display: flex;
    padding: 25px 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    justify-content: center;

    .info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: inherit;
    }

    i {
        font-size: xx-large;
        transition: var(--transition);
        -moz-transition: var(--transition);
        -webkit-transition: var(--transition);
    }
}

.works .work-list .work-list__item .work-info .info-tags {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    small {
        font-size: smaller;
        color: var(--primary-color);
        padding: 3px 16px;
        border-radius: 50px;
        background: var(--primary-light-trans-10, rgba(206, 183, 250, 0.10));
    }
}

@media screen and (max-width: 425px) {
    .works .work-list .work-list__item {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .works .work-list {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .works .work-list .work-list__item {
        flex-basis: 100%;
        flex-shrink: initial;
        width: 100%;
    }

    .works .work-list .work-list__item .work-thumbnail {
        img {
            max-height: 350px;
        }
    }
}

/* Section ~ About */

.about .container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.about .about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.about .about-text .about-heading {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin: 30px 0;
    width: inherit;

    h2 {
        white-space: nowrap;
    }
}

.about .about-text .about-parargaphs {
    p.intro {
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;

        span {
            color: var(--primary-color);
            font-weight: bold;
        }
    }

    p.middle {
        font-size: 20px;
        font-style: normal;
        line-height: 30px;
    }

    p.outro {
        font-size: 17px;
        font-style: normal;
        font-weight: 100;
        line-height: 25px;
    }
}

@media screen and (max-width: 425px) {
    .about .about-img {
        width: 100% !important;

        img {
            width: inherit;
        }
    }

    .about .about-text .hero-actions .btn-success {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .about .container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .about .about-img {
        width: 85%;
        text-align: center;

        img {
            width: inherit;
            float: initial;
        }
    }

    .about .about-text .about-heading {
        margin: 10px 0;
    }

    .about .about-text .about-parargaphs {
        p.intro {
            font-size: 20px;
            line-height: 30px;
        }

        p.middle {
            font-size: 18px;
            line-height: 26px;
        }
    }
}

/* Footer */
footer {
    grid-column: 1 / -1;
    padding: 30px 0;
    max-width: 1200px;
    margin: auto;
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 80px 0 50px;
}

footer p {
    font-size: 70px;
    text-align: center;
    line-height: normal;
    margin: 0;

    span {
        color: var(--primary-color);
    }
}

footer .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer small {
    font-weight: 100;
}

footer .footer .social-links {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 425px) {
    footer .footer {
        flex-direction: column;
        gap: 10px;
    }

    footer .footer small {
        font-size: smaller;
    }
}

@media screen and (max-width: 768px) {
    footer {
        max-width: 100%;
        padding: 30px;
    }

    footer p {
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px) {
    footer {
        max-width: 90%;
    }
}